

@{
    bool isNavLink = (ViewData["IsNavLink"] != null);
}

@*affiche comme nav link si celui si en est un sinon affiche comme des liens de connectionn habituel*@
@if (isNavLink)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">S'enregistrer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Connexion</a>
    </li>
}
else
{
<div class="d-flex flex-row">
    <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">S'enregistrer</a>
    <a class="btn btn-outline-info" asp-area="Identity" asp-page="/Account/Login">Connexion</a>
</div>
}
